<a href="https://colab.research.google.com/github/hardikdhamija96/Python_0_To_1/blob/main/04_functional_programming/FunctionalProgramming_AtoZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functional Programming
## Introduction
- Functional programming is a programming paradigm that treats computation as the evaluation of mathematical functions and avoids changing-state and mutable data.
- It is a declarative programming style, which means that you describe what you want the program to do, rather than how to do it.

## Why use functional programming?
There are many reasons to use functional programming, including:

- Concise and readable: Functional programs are often shorter and easier to understand than imperative programs. This is because they are based on mathematical functions, which are already familiar to many people.
- More maintainable: Functional programs are easier to maintain because they are less prone to errors. This is because they do not have side effects of mutability, which can make it difficult to track down the source of errors.
- Efficient: Functional programs can often be more efficient than imperative programs. This is because they do not need to update the state of the data, which can be a costly operation.

In [ ]:
def func(x):
  print(x)

#print argument
func(1) #1
func("hello") #hello

1
hello

# Lambda Function
- Python lambdas are little, anonymous functions, subject to a more restrictive but more concise syntax than regular Python functions.

[Read more about it here](https://realpython.com/python-lambda/)

### Syntax :


```
lambda arguments : expression
```

In [ ]:
# return square
calc = lambda num: num ** 2

print("Square of 20 is:",calc(20))

Square of 20 is: 400

In [ ]:
# Lambda function can be called directly (with 2 arguments)
(lambda x, y: x + y)(2, 3)

5

In [ ]:
# lambda itself returns a function object
print(lambda x, y: x + y)

<function <lambda> at 0x7f2f873868e0>

### ✅ Difference Between Lambda Function and Regular Function (`def`)

| **Aspect**               | **Regular Function (`def`)**                   | **Lambda Function**                      |
|--------------------------|-----------------------------------------------|-----------------------------------------|
| **Syntax**               | Defined using the `def` keyword.              | Defined using the `lambda` keyword.     |
| **Function Name**        | Has a specific name (e.g., `cube`).           | Often anonymous, assigned to a variable (e.g., `lambda_cube`). |
| **Body**                 | Supports multiple expressions and statements. | Only a single expression (no statements). |
| **Readability**          | More readable for complex logic.              | Best for short, simple, one-liner functions. |
| **Use Cases**            | General-purpose functions, reusable blocks.   | Small, throwaway functions, usually for immediate use. |
| **Debugging**            | Easier to debug (shows function name in stack trace). | Harder to debug (anonymous, no name by default). |
| **Supports Docstrings?** | Yes.                                          | No.                                     |

---

In [ ]:
# Regular Function using def
def cube(y):
    print(f"Finding cube of number: {y}")  # You can have multiple lines
    return y * y * y                       # Supports statements and logic

# Lambda Function
lambda_cube = lambda num: num ** 3          # One-liner, only expressions allowed

# Invoking Regular Function
print("Invoking function defined with def keyword:")
print(cube(30))   # Output: Finding cube of number: 30 | 27000

# Invoking Lambda Function
print("Invoking lambda function:")
print(lambda_cube(30))   # Output: 27000

Invoking function defined with def keyword:
Finding cube of number: 30
27000
Invoking lambda function:
27000

### Ternary operator with Lambda Function

# What is ternary operator?
- Python allows us to perform conditional checks and assign values or perform operations on a single line.

### Syntax


```
value_if_true if condition else value_if_false

```
### ✅ Why Use Ternary Operator with Lambda?

- Lambda functions **only support expressions**, not statements (like `if` blocks).
- Ternary operators are **perfect** for writing conditional logic inside a lambda function.

In [ ]:
#Even/Odd
n = 5
res = "Even" if n % 2 == 0 else "Odd"
print(res)

Odd

In [ ]:
#Positive/Negative/Zero
n = -5

res = "Positive" if n > 0 else "Negative" if n < 0 else "Zero"
print(res)

Negative

In [ ]:
#Using tuple
n = 7
res = ("Odd", "Even")[n % 2 == 0]
print(res)

#The condition num % 2 == 0 evaluates to False (index 0), so it selects “Odd”.

Odd

In [ ]:
# Using dictionary with key True and False
a = 10
b = 20
max = {True: a, False: b}[a > b]
print(max)

20

### ⭐Ternary with Lambda Examples

In [ ]:
# Lambda to return the maximum of two numbers
max_of_two = lambda a, b: a if a > b else b

print(max_of_two(4, 9))   # Output: 9
print(max_of_two(12, 7))  # Output: 12

9
12

In [ ]:
# Lambda to return absolute value of a number
absolute = lambda x: x if x >= 0 else -x

print(absolute(-20))   # Output: 20
print(absolute(5))     # Output: 5

20
5

In [ ]:
# Lambda to categorize based on marks
# Excellent >= 90, Good >= 75, Average >= 50, Fail otherwise
result = lambda marks: ("Excellent" if marks >= 90 else
                       "Good" if marks >= 75 else
                       "Average" if marks >= 50 else "Fail")

# use '()' for multiline statement

print(result(95))   # Output: Excellent
print(result(80))   # Output: Good
print(result(60))   # Output: Average
print(result(40))   # Output: Fail

Excellent
Good
Average
Fail

### ⭐⭐⭐Lambda function with sorted() function
- sorted functions is for iterables
- output is always list

In [ ]:
fruits = [('apple', 3), ('banana', 1), ('cherry', 2)]

print(sorted(fruits))
# Output: [('apple', 3), ('banana', 1), ('cherry', 2)]
# By default, sorted() will sort by the first element ('apple', 'banana', etc.)

[('apple', 3), ('banana', 1), ('cherry', 2)]

In [ ]:
# But if we want to sort by quantity (the second element), we use key

def get_quantity(item):
    return item[1] # Returns the second element (quantity) of each tuple

sorted_fruits = sorted(fruits, key=get_quantity)

print(sorted_fruits)
# Output: [('banana', 1), ('cherry', 2), ('apple', 3)]

[('banana', 1), ('cherry', 2), ('apple', 3)]

In [ ]:
#Lambda function make it more easier
sorted_fruits = sorted(fruits, key=lambda item: item[1])
print(sorted_fruits)

[('banana', 1), ('cherry', 2), ('apple', 3)]

In [ ]:
# ✅ Example 2: Sorting a List of Strings by Length (using lambda)
words = ['python', 'java', 'C', 'javascript']

# Sort by length of each word
sorted_words = sorted(words, key=lambda word: len(word))

print(sorted_words)
# Output: ['C', 'java', 'python', 'javascript']

['C', 'java', 'python', 'javascript']

In [ ]:
# ✅ Example 7: Sorting a String (iterable of characters)
text = "dbca"

# Sorts characters alphabetically
sorted_chars = sorted(text)

print(sorted_chars)
# Output: ['a', 'b', 'c', 'd']

# If you want back as a string:
sorted_string = ''.join(sorted_chars)
print(sorted_string)
# Output: abcd

['a', 'b', 'c', 'd']
abcd

In [ ]:
# ✅ Example 8: Sorting Custom Objects (advanced)

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# List of Person objects
people = [
    Person('Alice', 30),
    Person('Bob', 25),
    Person('Charlie', 35)
]

# Sort by age using lambda
sorted_people = sorted(people, key=lambda person: person.age)

# Print sorted names
print([p.name for p in sorted_people])
# Output: ['Bob', 'Alice', 'Charlie']

['Bob', 'Alice', 'Charlie']

# HOF: Higher Order Function
➡️ A Higher-Order Function is a function that either:

- Takes another function as an argument
- Returns a function as its result

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/031/original/Screenshot_2022-10-10_at_12.41.52_PM.png?1665385895">
<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/032/original/Screenshot_2022-10-10_at_12.41.59_PM.png?1665385919">

In [ ]:
# Higher-order function: returns another function
def gen_exp(n):
    # Inner function that raises x to the power of n
    def exp(x):
        return x ** n

    return exp  # Return the inner function

In [ ]:
exp_5 = gen_exp(5)
print(exp_5)
type(exp_5)

<function gen_exp.<locals>.exp at 0x7d9b47f02700>

function

In [ ]:
exp_5(2)

32

In [ ]:
square = gen_exp(2)  # Returns a function that squares a number
cube = gen_exp(3)    # Returns a function that cubes a number

print(square(5))  # Output: 25
print(cube(4))    # Output: 64

25
64

# Decorators
High order functions that take another function as input and add the extra behaviour in along with the functionality of passed function

In [ ]:
def foo():
    print("-"*50)
    print("Hello everyone! How are you doing?")
    print("-"*50)

In [ ]:
foo()

--------------------------------------------------
Hello everyone! How are you doing?
--------------------------------------------------

In [ ]:
# A decorator accepts a function as an argument and returns a decorated function
def pretty(func):
    def inner():
        print("-"*50)
        func()
        print("-"*50)

    return inner

In [ ]:
def bar():
  print("Hi! This is Hardik!")

In [ ]:
new_bar = pretty(bar)
new_bar()

--------------------------------------------------
Hi! This is hardik!
--------------------------------------------------

In [ ]:
#Way to use decoratos
@pretty
def foo():
    print("WHATTTT?")

foo()

--------------------------------------------------
WHATTTT?
--------------------------------------------------

# <u>Principles of Functional Programming</u>

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/063/original/Screenshot_2022-10-11_at_10.56.52_AM.png?1665466330">

# Map

### ✅ What is map()?
- ➡️ map() is a built-in higher-order function.
- ➡️ It applies a function to every item in an iterable (like a list, tuple, etc.).
- ➡️ It returns a map object, which is an iterator (lazy evaluation!).

### Syntax


```
map(function, iterable)
```

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Manually square each number in the list
squares = []
for num in numbers:
    squares.append(num ** 2)

print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5]

# map() applies the lambda function to each number
squares = map(lambda x: x ** 2, numbers)

# Convert map object to a list to see the output
print(list(squares))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

➡️ map() does not return a list, it returns a lazy map object.
You need to wrap it with list() or loop over it.

In [ ]:
names = ['alice', 'bob', 'charlie']

upper_names = map(lambda name: name.upper(), names)

print(list(upper_names))
# Output: ['ALICE', 'BOB', 'CHARLIE']

['ALICE', 'BOB', 'CHARLIE']

In [ ]:
prices_in_inr = [800, 1600, 4000, 12000]

# Convert prices to USD
prices_in_usd = map(lambda price: price / 80, prices_in_inr)

print(list(prices_in_usd))
# Output: [10.0, 20.0, 50.0, 150.0]

[10.0, 20.0, 50.0, 150.0]

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [10, 20, 30, 40]

# Multiply corresponding items from both lists
products = map(lambda x, y: x * y, list1, list2)

print(list(products))
# Output: [10, 40, 90, 160]

[10, 40, 90, 160]

> Task 2: Convert given height length to t-shirt size

```
h < 150 -> S
h >= 150 and h < 180 -> M
h >= 180 -> L
```

In [ ]:
heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]

In [ ]:
sizes = map(lambda x: "L" if x >= 180 else "M" if (x<180 and x>= 150) else "S" ,heights)

In [ ]:
print(sizes) # Return sizes map object
print(list(sizes)) # Return list of sizes

<map object at 0x7b9073755ed0>
['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

> Task 3: Given two lists A and B having 1s and 0s, find another list with element at index `i` as `True` if `A[i] == B[i]` else False

In [ ]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

# C = [True, True, False.........]
# C = True if both have same element else False

In [ ]:
C = map(lambda x,y: True if x==y else False ,A,B)
print(list(C))

[False, True, False, True, False, True, False, False, True, False, True, False]

# Filter
### ✅ What is filter()?
- ➡️ filter() is a built-in higher-order function.
- ➡️ It filters items from an iterable based on a condition function.
- ➡️ It returns a filter object, which is an iterator (lazy, like generators).

### Syntax:


```
filter(function, iterable)
```
- function: A function that returns True/False

- iterable: A sequence (list, tuple, etc.)

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/064/original/Screenshot_2022-10-11_at_11.14.51_AM.png?1665467068">

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

# Get even numbers manually
evens = []
for num in numbers:
    if num % 2 == 0:
        evens.append(num)

print(evens)  # Output: [2, 4, 6]

[2, 4, 6]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

# Use filter() with a lambda function to get evens
evens = filter(lambda x: x % 2 == 0, numbers)

# Convert filter object to list to view results
print(list(evens))  # Output: [2, 4, 6]

[2, 4, 6]

In [ ]:
names = ['Alice', '', 'Bob', '', 'Charlie']

# Keep only non-empty names
non_empty_names = filter(lambda name: name != '', names)

print(list(non_empty_names))
# Output: ['Alice', 'Bob', 'Charlie']

['Alice', 'Bob', 'Charlie']

In [ ]:
orders = [500, 1200, 150, 2500, 3000, 700]

# Filter orders where value > 1000
high_value_orders = filter(lambda order: order > 1000, orders)

print(list(high_value_orders))
# Output: [1200, 2500, 3000]

[1200, 2500, 3000]

In [ ]:
words = ['apple', 'banana', 'cherry', 'avocado', 'grape']

# Keep words starting with 'a'
words_starting_with_a = filter(lambda word: word.startswith('a'), words)

print(list(words_starting_with_a))
# Output: ['apple', 'avocado']

['apple', 'avocado']

In [ ]:
emails = ['john@gmail.com', 'alice@yahoo.com', 'bob@gmail.com', 'charlie@outlook.com']

# Keep only Gmail emails
gmail_emails = filter(lambda email: email.endswith('@gmail.com'), emails)

print(list(gmail_emails))
# Output: ['john@gmail.com', 'bob@gmail.com']

['john@gmail.com', 'bob@gmail.com']

#Zip

### ✅ What is zip()?
- ➡️ zip() combines two or more iterables element-wise into tuples.
- ➡️ Think of zipping two lists together like the teeth of a zipper.
- ➡️ You often convert it to a list or tuple to view its content.

### Syntax


```
zip(iterable1, iterable2, ...)
```



<img src="https://i.ytimg.com/vi/Kn6GRtiY4eM/maxresdefault.jpg">

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 95]

# Pair names with scores
paired = zip(names, scores)

print(list(paired))
# Output: [('Alice', 85), ('Bob', 90), ('Charlie', 95)]

[('Alice', 85), ('Bob', 90), ('Charlie', 95)]

In [ ]:
products = ['Laptop', 'Phone', 'Tablet']
prices = [60000, 20000, 30000]
stocks = [10, 50, 20]

# Combine into product info
product_info = zip(products, prices, stocks)

print(list(product_info))
# Output:
# [('Laptop', 60000, 10), ('Phone', 20000, 50), ('Tablet', 30000, 20)]

[('Laptop', 60000, 10), ('Phone', 20000, 50), ('Tablet', 30000, 20)]

In [ ]:
#Iterating using zip
students = ['Hardik', 'Rohan', 'Priya']
marks = [88, 92, 79]

for name, score in zip(students, marks):
    print(f"{name} scored {score}")

# Output:
# Hardik scored 88
# Rohan scored 92
# Priya scored 79

Hardik scored 88
Rohan scored 92
Priya scored 79

In [ ]:
# Uneven Lists
names = ['Alice', 'Bob']
scores = [85, 90, 95]

paired = zip(names, scores)

print(list(paired))
# Output: [('Alice', 85), ('Bob', 90)]

[('Alice', 85), ('Bob', 90)]

In [ ]:
#Unzipping with zip(*iterable)
pairs = [('Alice', 85), ('Bob', 90), ('Charlie', 95)]

# Unzip
names, scores = zip(*pairs)

print(names)   # Output: ('Alice', 'Bob', 'Charlie')
print(scores)  # Output: (85, 90, 95)

('Alice', 'Bob', 'Charlie')
(85, 90, 95)

In [ ]:
#Creating dictionary using 2 iterables
keys = ['id', 'name', 'age']
values = [101, 'Hardik', 27]

data_dict = dict(zip(keys, values))

print(data_dict)
# Output: {'id': 101, 'name': 'Hardik', 'age': 27}

{'id': 101, 'name': 'Hardik', 'age': 27}